body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    h1 {
        font-size: 35px;
        font-weight: bold;
    }

    h2 {
        font-size: 20px;
    }
}